---
layout: posts
title: Blog | Andri Kurnia
post_title: Blog
permalink: /posts/
---

<div id='about-me'>
  <div class='box-container'>
    <div class='row'>
      {% for post in site.posts %}
        {% if post.featured %}
          <div class='box box-small main-box s-1' id='me'>
            <div class='box-header'>
              <h1 class='text-center'>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h1>
            </div>
            <div class='box-content'>
              {{ post.excerpt }}
            </div>
          </div>
        {% endif %}
      {% endfor %}

      {% for post in site.posts %}
        {% if post.featured %}
        {% else %}
          <div class="posts">
            <div class='box box-small'>
              <div class='box-header'>
                <h2 class='text-center'>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
              </div>
              <div class='box-content'>
                <p>
                  lorem ipsum
                </p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
