<section id='footer'>
  <div class='contacts'>
    <div class='contacts-container'>
      <div class='row'>
        <div class='social-media-list'>
          <a href="javascript:void(0);" class='social-media facebook waves-effect'>
            <i class='social-icon'></i>
            Facebook
          </a>
          <a href="javascript:void(0);" class='social-media twitter waves-effect'>
            <i class='social-icon'></i>
            Twitter
          </a>
          <a href="javascript:void(0);" class='social-media linkedin waves-effect'>
            <i class='social-icon'></i>
            LinkedIn
          </a>
          <a href="javascript:void(0);" class='social-media google-plus waves-effect'>
            <i class='social-icon'></i>
            +Google
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='copyright'>
    <div class='copyright-container'>
      <div class='row'>
        <p class='text-center'>
          <i class='fa fa-copyright'></i>
          2015
          Andri Kurnia. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</section>
