<section id='footer'>
  <div class='contacts'>
    <div class='contacts-container'>
      <div class='row'>
        <div class='social-media-list'>
          <a href="https://www.facebook.com/andrkrn" class='social-media facebook waves-effect' target="_blank">
            <i class='social-icon'></i>
            Facebook
          </a>
          <a href="https://twitter.com/andrkrn" class='social-media twitter waves-effect' target="_blank">
            <i class='social-icon'></i>
            Twitter
          </a>
          <a href="https://id.linkedin.com/pub/andri-kurnia/90/301/402" class='social-media linkedin waves-effect' target="_blank">
            <i class='social-icon'></i>
            LinkedIn
          </a>
          <a href="https://github.com/andrkrn" class='social-media github waves-effect' target="_blank">
            <i class='social-icon'></i>
            Github
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class='copyright'>
    <div class='copyright-container'>
      <div class='row'>
        <p class='text-center'>
          <i class='fa fa-copyright'></i>
          2015
          Andri Kurnia. All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</section>
