<div id='service'>
  <div class='box-container'>
    <div class='row'>
      <div class='box'>
        <div class='box-header'>
          <h2 class='text-center'>Services</h1>
        </div>
        <div class='box-content'>
          <p class='text-center'>
            These are following service will be serve on your project with professinal touch.
          </p>
          <div class='services'>
            <div class='service web-development'>
              <h3>Web Development</h3>
              <i class='service-icon web-development'></i>
              <p>
                Help you to build and develop your project from scratch or continue from other
              </p>
              <div class='clearfix'></div>
            </div>
            <div class='service web-design'>
              <h3>Web Design</h3>
              <i class='service-icon web-design'></i>
              <p>
                Create good structured design or mockup for your project, responsive and adaptive design, and best stucture quality style
              </p>
              <div class='clearfix'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
