<nav id='main-nav'>
  <div class='nav-wrapper'>
    <div class='open-nav-container'>
      <a href="#" class='open-main-nav' data-activates='main-menu-nav'>
        <i class='fa fa-bars'></i>
      </a>
      <h1 class='hidden'>Andri Kurnia</h1>
    </div>
    <div id='main-menu-nav'>
      <div class='menu-nav-container'>
        <ul class='side-nav'>
          {% if page.type == "index" %}
            <li>
              <a href="#me" class='waves-effect'>About Me</a>
            </li>
            <li>
              <a href="#service" class='waves-effect'>Services</a>
            </li>
            <li>
              <a href="#technical" class='waves-effect'>Technical Skills</a>
            </li>
          {% endif %}
          {% for my_page in site.pages %}
            {% if my_page.title %}
              <li>
                <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
          <li>
            <a href="{{}}" class='waves-effect'>Blog</a>
          </li>
        </ul>
        <div class='menu-copyright'>
          <p class='copyright'>Andri Kurnia ©</p>
        </div>
      </div>
    </div>
  </div>
</nav>