<div id='technical'>
  <div class='box-container'>
    <div class='row'>
      <div class='box'>
        <div class='box-header'>
          <h2 class='text-center'>Technical Skills</h1>
        </div>
        <div class='box-content'>
          <p class='text-center'>
            Latest web technology can be included to your project.
          </p>
          <div class='technical-skills'>
            <div class='technical-skill html'>
              <i class='technical-icon devicons devicons-html5'></i>
              <h4>HTML</h4>
            </div>
            <div class='technical-skill css'>
              <i class='technical-icon devicons devicons-css3'></i>
              <h4>CSS</h4>
            </div>
            <div class='technical-skill javascript'>
              <i class='technical-icon devicons devicons-javascript'></i>
              <h4>Javascript</h4>
            </div>
            <div class='technical-skill sass'>
              <i class='technical-icon devicons devicons-sass'></i>
              <h4>SASS</h4>
            </div>
            <div class='technical-skill bootstrap'>
              <i class='technical-icon devicons devicons-bootstrap'></i>
              <h4>Bootstrap</h4>
            </div>
            <div class='technical-skill react'>
              <i class='technical-icon devicons devicons-react'></i>
              <h4>ReactJS</h4>
            </div>
            <div class='technical-skill ember'>
              <i class='technical-icon devicons devicons-ember'></i>
              <h4>EmberJS</h4>
            </div>
            <div class='technical-skill ruby-on-rails'>
              <i class='technical-icon devicons devicons-ruby_on_rails'></i>
              <h4>Ruby on Rails</h4>
            </div>
            <div class='technical-skill heroku'>
              <i class='technical-icon devicons devicons-heroku'></i>
              <h4>Heroku</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
