.banner {
  background-attachment: scroll;
  background-color: #1A237E;
  background-image: url("../images/overlay.png");
  background-position: center bottom;
  background-size: auto;
  color: #fff;
  padding: 11em 0 16em 0;
  text-align: center;

  &.banner-small,
  &.banner-small-fixed {
    padding-top: 5em;
    padding-bottom: 16em;

    @media screen and (max-width: 767px) {
      padding-bottom: 6em;
    }

    h2 {
      font-size: 1.5em;
    }
  }

  &.banner-small-fixed {
    padding-bottom: 6em;
  }

  .title {
    h1 {
      font-family: 'Roboto';
      font-size: 3em;
    }
    h2 {
      font-family: 'Roboto';
    }
    h4 {
      font-family: 'Roboto';
      font-weight: normal;
    }
  }
}

#service,
#contact-me {
  background-color: $bg-very-light-purple;
  padding-bottom: 3em;
}

.box-container {
  @extend .container;
}

.box {
  @extend .col-md-12;
  padding: 4em !important;

  &.box-small {
    @extend .col-md-offset-1;
    @extend .col-md-10;
  }

  &.main-box {
    margin-top: -14em;
    background-color: #fff;

    @media screen and (max-width: 767px) {
      margin-top: 0;
    }
  }

  .box-header {
    font-family: 'Roboto Condensed', sans-serif;

    h1 {
      font-size: 3.25em;
      line-height: 1.5em;
    }
  }

  .box-content {
    font-family: 'Roboto', sans-serif;

    p {
      padding-top: .5em;
      text-align: justify;
      line-height: 1.6em;
      font-size: 18px;
    }
  }
}

.box-primary {
  background-color: #0074d9;
  color: #fff;
}

.services {
  .service {
    @extend .col-md-6;

    h3 {
      border-bottom: 1px solid #eee;
      padding-bottom: .5em;
      margin-top: 1.5em;
    }

    &.web-development {
      padding-left: 0;
    }

    &.web-design {
      padding-right: 0;
    }

    &.web-design,
    &.web-development {
      @media screen and (max-width: 991px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .service-icon {
      @extend .fa;
      font-size: 8em;
      float: left;
      padding-right: .3em;

      &.web-development {
        @extend .fa-code;
      }
      &.web-design {
        @extend .fa-desktop;
      }
    }

    @media screen and (max-width: 480px) {
      h3 {
        text-align: center;
      }

      .service-icon {
        display: block;
        float: none;
        padding-right: inherit;
        text-align: center;
      }
    }
  }
}

.technical-skills {
  margin-top: 1.5em;

  .technical-skill {
    @extend .col-md-4;
    @extend .col-sm-6;
    min-height: 14em;
    background-color: #212121;
    color: #fff;

    .technical-icon {
      display: block;
      text-align: center;
      font-size: 11em;
    }

    h4 {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: .5em;
      margin: 0;
      text-align: center;
      background-color: rgba(255, 255, 255, .2);
      color: #fff;
    }

    &.html {
      background-color: #E34C26;
    }

    &.css {
      background-color: rgb(21, 114, 182);
    }

    &.javascript {
      background-color: rgb(214, 186, 50)
    }

    &.ruby-on-rails {
      background-color: rgb(135, 8, 1);
    }

    &.react {
      background-color: rgb(0, 216, 255);
    }

    &.sass {
      background-color: rgb(207, 100, 154);
    }

    &.bootstrap {
      background-color: rgb(87, 60, 126);
    }

    &.ember {
      background-color: rgb(226, 75, 49);
    }

    &.heroku {
      background-color: rgb(103, 99, 165);
    }
  }
}

#contact-me {
  .contact-me {
    @extend .col-md-6;
    @extend .col-md-offset-3;
  }
}

@media screen and (max-width: 991px) {
  #contact-me {
    // background-position: center center, center left;
  }
}

/* Footer */
#footer {
  margin-top: 1em;

  .contacts {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #283593;
    background-image: url("../images/overlay.png");

    .contacts-container {
      @extend .container;
    }
  }

  .copyright {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #1A2360;
    background-image: url("../images/overlay.png");
    color: #fff;

    .copyright-container {
      @extend .container;

      p.text {
        @extend .col-sm-6;
        margin: 0;
      }

      @media screen and (max-width: 767px) {
        p.text {
          text-align: center;
          margin-top: .5em;
        }

        p.text:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .social-media-list {
    @extend .col-md-12;
    padding-left: 0;
    padding-right: 0; 

    a.social-media {
      @extend .col-sm-3;
      @extend .col-xs-6;
      text-align: center;
      color: #fff;
      padding: .5em 1em;
      text-decoration: none;
      display: block;
      margin-top: .5em;

      i.social-icon {
        @extend .fa;
        @extend .fa-fw;
      }

      &.facebook {
        i.social-icon {
          @extend .fa-facebook;
        }
      }

      &.twitter {
        i.social-icon {
          @extend .fa-twitter;
        }
      }

      &.linkedin {
        i.social-icon {
          @extend .fa-linkedin;
        }
      }

      &.google-plus {
        i.social-icon {
          @extend .fa-google-plus;
        }
      }
    }
  }
}

.post-container {
  @extend .col-md-offset-2;
  @extend .col-md-8;

  padding-top: 3em;
  padding-bottom: 3em;
}

#disqus_thread {
  margin-top: 2em;
}
