@mixin ease-in-out-cubic($time) {
  -webkit-overflow-scrolling: touch;
  transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);

  -webkit-transition: all $time cubic-bezier(0.645, 0.045, 0.355, 1.000); 
     -moz-transition: all $time cubic-bezier(0.645, 0.045, 0.355, 1.000); 
       -o-transition: all $time cubic-bezier(0.645, 0.045, 0.355, 1.000); 
          transition: all $time cubic-bezier(0.645, 0.045, 0.355, 1.000);

  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
     -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
       -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
          transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}