<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include side-nav.html %}

    {% include header-blog.html %}

    <div id='about-me'>
      <div class='box-container'>
        <div class='row'>
          {% for post in site.featured_posts %}
            <div class='box box-small main-box s-1' id='me'>
              <div class='box-header'>
                <h1 class='text-center'>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h1>
              </div>
              <div class='box-content'>
                <p>
                  I'm Andri Kurnia. I'm a web designer and web developer located in Cimahi, Indonesia. My interests are in Ruby on Rails, Javascript, PHP and some popular repositories or open-souce project. I'm learning web design and web development from high school.
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>


    {{ content }}

    {% include footer.html %}

  <script type="text/javascript" src="{{ "/js/fallback.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
