<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include side-nav.html %}

    {% include header-post.html %}
    
    <article class="container" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="row">
        <div class="post-container">
          <div class="post-content markdown-body" itemprop="articleBody">
            {{ content }}
          </div>

          {% include disqus.html %}

        </div>
      </div>

    </article>

    {% include footer.html %}

    <script type="text/javascript" src="{{ "/js/fallback.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
